<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodyFast-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BFFF49B1E0C284300D1C694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFFF4AF1E0C284300D1C694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFFF4BA1E0C284300D1C694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
